@import url('https://fonts.googleapis.com/css?family=Asul|Tillana');

@keyframes blink{
  0%{
    color: #80ffdf;
  }
  50%{
    color: #008060;
  }
  100%{
    color: #80ffdf;
  }
}

body{
    font-family: 'Tillana', cursive;
    color: white;
    background-color: #008060;
    text-align: center;
    line-height: 2em;
    font-size: 20px;
    margin: 0em 5em 0em 5em;
    animation: blink 7s linear infinite;
}

h1{
    font-family: 'Asul', sans-serif;
    animation: blink 3s linear infinite;  
}

h2{
    color: #00ffbf;
    animation: blink 6s linear infinite;
}

h3{
    color: #b3ffec;
    animation: blink 4s linear infinite;
}

ul {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    animation: blink 5s linear infinite;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #34564d;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

p::selection{
    background: indianred;
    color: white;
}

h1:first-child::first-letter{
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}


